.navbar {
    background: none;
    min-height: 70px;
    z-index: 1;
    transition: ease-in-out 0.6s;
}
.navbar.scrolled {
    background: skyblue;
    box-shadow: 0px 1px grey;
}

.navbar .navbar-brand {
    color: floralwhite;
    font-size: 200%;
    font-weight: bolder;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: whitesmoke;
    font-size: 120%;
}

#fader{
    height: 780px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative; 
    left: 0;
    top: 0;
    z-index: -1;
}

.wel {
    text-align: center;
    color: floralwhite;
    height: 150px;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 17%;
    right: 17%;
}
.wel h1 {
    font-weight: bolder;
}

.mimage {
    height: 200px;
    width: 200px;
}
.row-content {
    margin: 20px;
}
.serv {
    height: 700px;
}
.blackbck {
    background-image: url("../images/black.jpg");
    width: 100%;
    height: 780px;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.c-image {
    height:200px;
    width: 100%;
}
.card1, .card2, .card3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
.footer {
    background-color: dodgerblue;
    margin: 0px auto;
    padding: 10px auto; 
    text-align: center;
}