html body {
    background: white;
}
#index {
    background: black;
}
.navbar {
    background: none;
    min-height: 70px;
    z-index: 1;
    transition: ease-in-out 0.6s;
}
.navbar.scrolled {
    background: dodgerblue;
    box-shadow: 0px 1px grey;
}

.navbar .navbar-brand {
    color: floralwhite;
    font-size: 200%;
    font-weight: bolder;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: whitesmoke;
    font-size: 120%;
}

#fader{
    height: 780px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative; 
    left: 0;
    top: 0;
    z-index: -1;
}

.wel {
    text-align: center;
    color: floralwhite;
    height: 150px;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 17%;
    left: 17%;
}
.wel h1 {
    font-weight: bolder;
}

.card {
    margin-top: 20%;
}
.whitebck {
    background-image: url("../images/white.jpg");
    height: 1500px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 780px;
    z-index: -1;
}
.mimage {
    height: 200px;
    width: 200px;
}
.row-content {
    margin: 20px;
}
.serv {
    height: 600px;
}